@page
@model epht_admin_portal.Pages.Config.ConfigTopic.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfigTopic[0].TopicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigTopic[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigTopic[0].Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigTopic[0].AboutData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigTopic[0].OmitNcdmData)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ConfigTopic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @(item.Overview?.Length > 50 ? item.Overview.Substring(0, 50) + "..." : item.Overview)
            </td>
            <td>
                @(item.AboutData?.Length > 50 ? item.AboutData.Substring(0, 50) + "..." : item.AboutData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OmitNcdmData)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TopicId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TopicId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TopicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>